<template>
  <li v-on:click="goToGroup">
    <div id="grupo">
      <h4>{{ `ID: ${id}, División: ${division}` }}</h4>
      <h4 v-if="password">{{ `Password: ${password}` }}</h4>
      <p>{{ descripcion }}</p>
    </div>
  </li>
</template>

<script>
export default {
  mounted() {},
  props: {
    id: Number,
    division: String,
    descripcion: String,
    password: String
  },
  methods: {
    goToGroup: function() {
      this.$emit('groupclicked', this.id);
    }
  }
};
</script>

<style scoped>
li {
  cursor: pointer;
}
</style>
