<template>
  <div class="container">
    <vue-headful title="Grupos | GUAM-I" description="Grupos" />
    <div>
      <header class="group-header" v-bind:class="{ forbidden: groupForbidden }">
        <div v-if="cargandoGrupo">
          <h3>{{ textoCargaGrupo }}</h3>
        </div>
        <div v-else>
          <h3>
            Grupo: <strong>{{ grupo.descripcion }}</strong>
          </h3>
          <h5>
            De la división: <strong>{{ grupo.division }}</strong>
          </h5>
        </div>
        <div v-if="errorGrupo" id="error-grupos">
          Error: {{ this.errorGrupo }}
        </div>
      </header>
    </div>
    <div v-if="!groupForbidden" id="posts">
      <div v-if="cargandoPosts">
        <h3>{{ textoCargaPosts }}</h3>
      </div>
      <div v-else>
        <ul>
          <post
            v-for="post in posts"
            :id="post.id"
            :fecha="post.fecha"
            :contenido="post.contenido"
            :key="post.id"
          >
          </post>
        </ul>
      </div>
    </div>
    <div v-if="!groupForbidden" id="crear-post">
      <input v-model="post" placeholder="Nuevo post" />
      <button v-on:click="agregaPost(post)">Post!</button>
    </div>
  </div>
</template>

<script>
import groupApi from '../services/group-service';
import Post from '../views/Post';

export default {
  name: 'Groups',
  props: ['groupId'],
  data: function() {
    return {
      textoCargaGrupo: 'Cargando grupo...',
      textoCargaPosts: 'Cargando posts...',
      grupo: null,
      posts: null,
      post: null,
      cargandoGrupo: true,
      cargandoPosts: true,
      groupForbidden: false,
      errorGrupo: null,
      errorPosts: null
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push('/login');
    }

    let groupAuthorized = false;

    for (const group of this.$store.state.auth.user.groups) {
      if (group == this.groupId) {
        groupAuthorized = true;
      }
    }

    if (!groupAuthorized) {
      this.textoCargaGrupo = 'Grupo no disponible!';
      this.groupForbidden = true;
    } else {
      this.loadGroup();
      this.loadPosts();
    }
  },
  components: {
    post: Post
  },
  methods: {
    loadGroup: function() {
      groupApi
        .getGroup(this.groupId)
        .then(response => {
          this.grupo = JSON.parse(response.data);
        })
        .catch(error => {
          // eslint-disable-next-line no-console
          console.log(error);
          this.errorGrupo = 'Error cargando los grupos';
        })
        .finally(() => {
          this.cargandoGrupo = false;
        });
    },
    loadPosts: function() {
      groupApi
        .getGroupPosts(this.groupId)
        .then(response => {
          this.posts = JSON.parse(response.request.response);
        })
        .catch(error => {
          // eslint-disable-next-line no-console
          console.log(error);
          this.errorPosts = 'Error cargando los posts';
        })
        .finally(() => {
          this.cargandoPosts = false;
        });
    },
    agregaPost: function(contenido) {
      groupApi
        .postToGroup(this.groupId, contenido)
        .then(() => {
          this.loadPosts();
        })
        .catch(error => {
          // eslint-disable-next-line no-console
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
.group-header {
  padding: 40px;
  text-align: center;
  background: #3c05a1;
  color: white;
  font-size: 30px;
}

.forbidden {
  padding: 40px;
  text-align: center;
  background: #940327;
  color: white;
  font-size: 30px;
}

div {
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  word-break: break-all;
}
</style>
