<template>
  <div class="container">
    <vue-headful title="Home | GUAM-I" description="Página principal" />
    <div>
      <header class="home-header">
        <h3>
          Grupos UAM-I
        </h3>
      </header>
    </div>
    <strong>Grupos disponibles:</strong>
    <div v-if="cargando">
      <p>Cargando grupos...</p>
    </div>
    <div v-else>
      <ul>
        <group
          v-for="grupo in grupos"
          :id="grupo.groupId"
          :division="grupo.division"
          :descripcion="grupo.descripcion"
          :password="''"
          :key="grupo.groupId"
          v-on:groupclicked="changeToGroup($event)"
        >
        </group>
      </ul>
    </div>
    <div v-if="error" id="error-grupos">Error: {{ this.error }}</div>
  </div>
</template>

<script>
import groupApi from '../services/group-service';
import Group from './Group';

export default {
  name: 'Home',
  data: function() {
    return {
      grupos: [],
      cargando: true,
      error: null
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push('/login');
    }

    groupApi
      .getAllGroups()
      .then(response => {
        this.grupos = JSON.parse(response.request.response);
      })
      .catch(error => {
        // eslint-disable-next-line no-console
        console.log(error);
        this.error = 'Error cargando los grupos';
      })
      .finally(() => {
        this.cargando = false;
      });
  },
  components: {
    group: Group
  },
  methods: {
    changeToGroup: function(event) {
      this.$router.push(`/groups/${event}`);
    }
  }
};
</script>

<style scoped>
.home-header {
  padding: 40px;
  text-align: center;
  background: #5a4a02;
  color: white;
  font-size: 30px;
}

div {
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  word-break: break-all;
}
</style>
