<template>
  <div class="container">
    <vue-headful title="Perfil | GUAM-I" description="Mi perfil" />
    <div>
      <header class="user-header">
        <h3>
          Perfil del alumno: <strong>{{ currentUser.matricula }}</strong>
        </h3>
      </header>
    </div>
    <p>
      <strong>Correo: </strong>
      {{ currentUser.correo }}
    </p>
    <p>
      <strong>División: </strong>
      {{ currentUser.division }}
    </p>
    <div id="token">
      <p>
        <strong>Token actual:</strong>
        {{ currentUser.token }}
      </p>
    </div>
    <strong>Mis grupos:</strong>
    <div v-if="cargando">
      <p>Cargando...</p>
    </div>
    <div v-else>
      <ul>
        <group
          v-for="grupo in grupos"
          :id="grupo.groupId"
          :division="grupo.division"
          :descripcion="grupo.descripcion"
          :password="grupo.password"
          :key="grupo.groupId"
          v-on:groupclicked="changeToGroup($event)"
        >
        </group>
      </ul>
    </div>
    <div v-if="error" id="error-grupos">Error: {{ this.error }}</div>
    <strong>Mis Posts:</strong>
    <div id="posts">
      <div v-if="cargandoPosts">
        <h3>{{ textoCargaPosts }}</h3>
      </div>
      <div v-else>
        <ul>
          <post
            v-for="post in posts"
            :id="post.id"
            :fecha="post.fecha"
            :contenido="post.contenido"
            :key="post.id"
          >
          </post>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import groupApi from '../services/group-service';
import Group from './Group';
import Post from './Post';

export default {
  name: 'Profile',
  data: function() {
    return {
      grupos: [],
      cargando: true,
      cargandoPosts: true,
      textoCargaPosts: 'Cargando posts...',
      posts: [],
      error: null
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push('/login');
    }

    for (let group of this.currentUser.groups) {
      groupApi
        .getGroup(group)
        .then(response => {
          this.grupos.push(JSON.parse(response.data));
        })
        .catch(error => {
          // eslint-disable-next-line no-console
          console.log(error);
          this.error = 'Error cargando los grupos';
        })
        .finally(() => {
          this.cargando = false;
          this.loadPosts();
        });
    }
  },
  components: {
    group: Group,
    post: Post
  },
  methods: {
    changeToGroup: function(event) {
      this.$router.push(`/groups/${event}`);
    },
    loadPosts: function() {
      for (const grupo of this.grupos) {
        groupApi
          .getGroupPosts(grupo.groupId)
          .then(response => {
            const posts = JSON.parse(response.request.response);
            for (const post of posts) {
              this.posts.push(post);
            }
          })
          .catch(error => {
            // eslint-disable-next-line no-console
            console.log(error);
            this.errorPosts = 'Error cargando los posts';
          })
          .finally(() => {
            this.cargandoPosts = false;
          });
      }
    }
  }
};
</script>

<style scoped>
.user-header {
  padding: 40px;
  text-align: center;
  background: #038d53;
  color: white;
  font-size: 30px;
}

div {
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  word-break: break-all;
}
</style>
